aside div{
    overflow: scroll;
    height: 700px;

    width: 90%;
    float: left;
}

aside li{
  list-style: none;
  height: 75px;
  text-align: left;

  border: 2px solid lightgray;
  background-color: var(--green);
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-left: 5%;

  font-size: 18px;
  padding-top: 5%;
}

aside .oddItem{
    background-color: var(--green);
}

aside .evenItem{
    background-color: var(--green-border);
}

#favoriteButton{
    width:50%;
    height:35px;
    margin-right: 2em;
    font-size: 20px;

    margin-top: 2em;
}