h1{
    font-size: 50px;
    text-align: center;
}

#title{
    float: left;
    width: 70%;
    height: 125px;
}

#profileIcon{
    float: right;
    width: 30%;
    height: 125px;
}

.profile{
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 1em;
    margin-top: 5px;
}

#profileIcon ul{
    list-style: none;
    width: 200px;
    margin-top: 35px; 
}

#profileIcon li{


    list-style: none;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: azure;
    box-shadow: inset 0 0 0 2px black; /* Simulates a 2px inner border */
    height: 50px;
    position: relative;

}



li a{
    line-height: 50px;
    text-decoration: none;
    color: rgb(5, 37, 38);
}

#profileDrop{
    float:right;
    margin-right: 2em;

}

#firstBar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

#firstBar:hover > ul{
    display:block;
}

#firstBar span{
    line-height: 50px;
}

#profileIcon .hideBar:hover{
    background-color:rgb(151, 255, 255)
}


/* Back Button*/
.backButton{
    text-align: left;
    float: left;
    display: flex;
    cursor: pointer;
    margin-top: 35px;
    width: 15%;
}

.backButton h2{
    margin: 0;
    color: black;
}

.backButton:hover h2{
    color:rgb(10, 106, 93);
}


#backIcon{
    height: 30px;
    width: 30px;
}

.backButton + #title{
    width: 40%
}
