
:root{
    --cyan: #1299a4;
    --cyan-border: #7be2ea;
    --purple-border: #d97abf;
    --purple: #942877;

    --background-color: #141929;
    --text-color: rgb(236, 236, 236);
}

html{
    width: 1536px;
    background: var(--background-color);
}

section{
    width: 70%;
    float:left;
    display: flex;
}

aside{
    float: right;
    width: 30%;
    padding: 20px 0px;
    text-align: center;
}

form{
    width:100%
}

.cityBox{
    height: 30px;
    width: 300px;
    float: left;

    background-image: url("images/SearchIcon.png");
    background-size: 30px auto;
    background-repeat: no-repeat;
    padding-left: 30px;

    border: 3px solid var(--purple-border);
}

.arrow{
    height: 30px;
    width: 30px;
    transform: rotate(-90deg);
    margin: .5em 0;
    margin-right: 27%;

    filter: brightness(0) invert(1);
}

/*Buttons CSS*/

.buttons{
    border-radius: 15px;
    background-color: var(--cyan);
    border: 3px solid var(--cyan-border);
    color: var(--text-color);
    font-weight: bold;
}

.buttons:hover{
    background-color: var(--cyan-border);
    border: 3px solid var(--cyan);

}

#title{
    color: var(--text-color);
}

#GetRoute{
    height: 30px;
    width: 200px;
    margin-left: 25%; 
}

#wayAdd{
    width: 30px;
    height: inherit;
    float: left;
    margin-left: 1em;
    margin-top: 3px;
}

#theMap{
    height: 800px;
    width: 1000px;
    border: 5px solid var(--purple-border);
    

}

#endTextbox{
    margin-bottom: 2em;
    height: 30px;
}

#accordion{
    width: 400px;
    margin-top: 2em;

    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
#accordion h3{
    background-color: var(--cyan);
    border: 3px solid var(--cyan-border);
    color: var(--text-color);
    font-weight: bold;
}

#accordion .ui-state-active{
    background-color: var(--cyan-border);
    border: 3px solid var(--cyan);
}

#favorites, ul{
    padding: 0;
    margin: 0;
}

#favorites ul li{
    width: 395px;

    border: 2px solid black;
    background-color: var(--cyan);
    border: 3px solid var(--cyan-border);

    list-style: none;
}

.FavPartOne .arrow{
    transform: rotate(180deg);

    height: 50px;
    width: 50px;

    margin: 20px 5%;

    padding: 0;
}

.FavPartTwo .trash{
    height: 30px;
    width: 30px;

    /*
    margin-top: 20px;
    */
    margin-top: 30px;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-left: auto;

    padding: 0;

    color:red;
}

.FavPartTwo .buttons{
    height: 30px;
    width: 50px;
    
    margin: 30px 5%;  

    background-color: var(--purple);
    border: 3px solid var(--purple-border);

}

.FavPartTwo .buttons:hover{
    background-color: var(--purple-border);
    border: 3px solid var(--purple);

}


.FavPartOne{
    margin-left: 1em;
}
.FavPartTwo{
    margin-left: auto;
}
li div{
    display: inline-flex;
    width: inherit;
}

.FavPartOne span{
    white-space: nowrap;
    width: auto;
    padding: 0, 5%;
    margin: 35px auto;
    font-size: 15px;
}




