html{
    width: 1536px;
}

section{
    width: 70%;
    float:left;
    display: flex;
}

aside{
    float: right;
    width: 30%;
    padding: 20px 0px;
    text-align: center;
}

form{
    width:100%
}

.cityBox{
    height: 30px;
    width: 300px;
    float: left;

    background-image: url("images/SearchIcon.png");
    background-size: 30px auto;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.arrow{
    height: 30px;
    width: 30px;
    transform: rotate(-90deg);
    margin: .5em 0;
    margin-right: 27%;
}

/*Buttons CSS*/

.buttons{
    border-radius: 15px;
}

#GetRoute{
    height: 30px;
    width: 200px;
    margin-left: 25%; 
}

#wayAdd{
    width: 30px;
    height: inherit;
    float: left;
    margin-left: 1em;
    margin-top: 3px;
}

#theMap{
    height: 800px;
    width: 1000px;
    border: 5px solid black;

}

#endTextbox{
    margin-bottom: 2em;
    height: 30px;
}

#accordion{
    width: 400px;
    margin-top: 2em;

    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

#favorites, ul{
    padding: 0;
    margin: 0;
}

#favorites ul li{
    width: 395px;

    border: 2px solid black;
    list-style: none;
}

.FavPartOne .arrow{
    transform: rotate(180deg);

    height: 50px;
    width: 50px;

    margin: 20px 5%;

    padding: 0;
}

.FavPartTwo .trash{
    height: 30px;
    width: 30px;

    /*
    margin-top: 20px;
    */
    margin-top: 30px;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-left: auto;

    padding: 0;

    color:red;
}

.FavPartTwo .buttons{
    height: 30px;
    width: 50px;
    
    margin: 30px 5%;  

}
.FavPartOne{
    margin-left: 1em;
}
.FavPartTwo{
    margin-left: auto;
}
li div{
    display: inline-flex;
    width: inherit;
}

.FavPartOne span{
    white-space: nowrap;
    width: auto;
    padding: 0, 5%;
    margin: 35px auto;
    font-size: 15px;
}




