:root{
    --green: green;
    --green-border: rgb(2, 189, 2);
}

aside ul{
    line-height: 75px;
    width: 90%;
}

aside div{
    width: 90%;
}

.textbox{
  border: 2px solid;
  height: 50px;
  width: 33%;
  font-size: 20px;
  line-height: 50px;
  background-color: var(--purple);
  border: 3px solid var(--purple-border);
}

#start{
    float:left;
}

#destination{
    float:right;
}

aside li{
  list-style: none;
  height: 75px;
  text-align: left;
  border: 2px solid var(--cyan-border);
  background-color: var(--cyan);
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-left: 5%;
  margin: 25% 0;
}

aside li span{
    float:left;
}

aside li .buttons{
    float:right;
    margin: 6%;
    width: 200px;
    height: 30px;
    font-size: 20px;

    background-color: var(--green);
    border: 3px solid var(--green-border);
}

aside li .buttons:hover{
    background-color: var(--green-border);
    border: 3px solid var(--green);
}

#sideArrow {
    transform: rotate(180deg);
    height: 50px;
    width: 50px;

    filter: brightness(0) invert(1);
}